* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer {
  background-color: #24262b;
  color: whitesmoke;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.footer li {
  list-style: none;
}
.footer-col h4::before {
  content: "";
  position: absolute;
}
.footer-col li:hover {
  transition: all 0.3 ease;
  color: #ffffff;
}
.footer-col .social-link li {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}
